body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #333;
}

nav {
    text-align: right;
}

.home-link {
    text-decoration: none;
    color: #007bff;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center;
}

.login-button,
.reset-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    margin-right: 10px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
}

.reset-button {
    background-color: #dc3545;
    color: #fff;
}
